@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/clashdisplay/ClashDisplay-Light.otf');
}

@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/clashdisplay/ClashDisplay-Regular.otf');
}

@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/clashdisplay/ClashDisplay-Medium.otf');
}

@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/clashdisplay/ClashDisplay-Semibold.otf');
}

@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/clashdisplay/ClashDisplay-Bold.otf');
}
